
@import "variables.css";
@import "mixins/headers.css";
@import "mixins/pocketgrid.css";
@import "mixins/fa.css";
@import "mixins/mobile.css";

@import "modules/font-awesome.css";
@import "modules/pocketgrid.css";
@import "modules/layout.css";
@import "modules/breakpoints.css";
@import "modules/scrolling.css";

@import "components/root.css";
@import "components/channels.css";
@import "components/channel.css";
@import "components/playlist.css";
@import "components/volume.css";
@import "components/input.css";
@import "components/rendition.css";
@import "components/progress.css";
@import "components/receivers.css";
@import "components/receiver.css";
@import "components/loading.css";
@import "components/library.css";
@import "components/notification.css";

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300,300italic,400italic,700italic&subset=latin,latin-ext);

/* @import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700'); */


html {
  font-size: 10px;
  height: 100vh;
  overflow: hidden;
  /* https://alxgbsn.co.uk/2011/10/17/enable-css-active-pseudo-styles-in-mobile-safari/ */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
body {
  -webkit-overflow-scrolling: auto;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.4rem;
  /* font-size: 10px; */
  line-height: 125%;
}

input {
    -webkit-user-select: text;
     -khtml-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
@media (--desktop) {
  body {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}


