<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Elvis</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor/semantic-ui/semantic.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor/semantic-ui/icon.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
