@define-mixin fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@define-mixin fa-btn $icon {
  &:before {
    @mixin fa;
    content: $icon; /* fa-plus */
    display: block;
    line-height: $button-size;
    text-align: center;
  }
}
