.channel--playlist {
  background: #fff;
  overflow: hidden;
  width: 100vw;
}
.channel--rendition {
  flex: 1;
}
.channel--name {
  padding: 0 $padding;
  &:before {
    @mixin fa;
    content: $channel-icon;
    padding-right: calc($padding/2);
  }
}
.channel--playlist-duration {
	margin-left: $padding;
}

.channel--playlist-actions {
  display: flex;
  height: $button-size;
  background-color: #eee;
  justify-content: flex-start;
  align-items: flex-start;
}
.channel--playlist-actions--space {
  flex: 1;
}
.channel--playlist-actions--clear {
  @mixin fa-btn "\f1f8";
  flex: 0 0 $button-size;
  width: $button-size;
  height: $button-size;
  background: rgba(0, 0, 0, 0.1);
  &:hover {
    color: red;
    background: rgba(255, 0, 0, 0.4);
  }
}

.channel--playback {
  display: flex;
  flex-direction: row;
	flex: 1;
}

.channel--info {
  flex: 1;
}

.channel--info--name {
  padding-top: 2px;
  height: $active-channel-bar-height;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: $active-channel-bar-height;
  color: #E65100;
  position: relative;
  display: flex;
  align-items: center;
}
.channel--info--name .channel--name {
  /* position: absolute; */
  /* bottom: -1px; */
  line-height: 0;
}

.channel--info--name .channel--playlist-duration {
	color: #BF360C;
}

$active-channel-multiplier: 1.7;

.root--channel-control__active .channel--info--name {
  padding-top: 0;
  height: calc($active-channel-bar-height * $active-channel-multiplier);
  font-size: 1.4rem;
  line-height: calc($active-channel-bar-height * $active-channel-multiplier);
}
.root--channel-control__active .channel--info--name .channel--name:before {
  line-height: 0;
}

.channel--control {
	color: #fff;
}

.channel--rewind-play-skip {
	display: flex;
	flex-direction: row;
	margin: 0 calc($button-size / 2) 0 calc($button-size / 2);
}

$cover-size: 60vw;

.channel--rendition-cover {
	margin: 0 0 calc($button-size / 2) 0;
	/* background-color: rgba(255, 255, 255, 0.6); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: $cover-size auto;
	height: calc($cover-size + (2 * $button-size));
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.channel--play-control-btn {
	background: rgba(0, 0, 0, 0.6);
	flex: 1;
	justify-content: center;
	height: $button-size;
	font-size: calc($button-size / 1.5);
	line-height: $button-size;
	opacity: 0.5;
  &:before {
    @mixin fa;
		text-align: center;
		display: inline-block;
		width: 100%;
		height: 100%;
  }
}

.channel--play-control-btn__enabled {
	opacity: 1;
}
.channel--rewind:before {
	content: "\f049";
}
.channel--play:before  {
	content: "\f04b";
}
.channel--pause:before  {
	content: "\f04c";
}
.channel--skip:before  {
	content: "\f050";
}
.channel--rewind:before,
.channel--skip:before  {
	font-size: calc($button-size / 2);
}


.channel--rendition-progress {
  /* margin: 0; */
	/* margin: 0 calc($button-size / 2) 0 calc($button-size / 2); */
	margin: calc($button-size / 4) 0 0 0;
	height: calc($button-size / 2);
	display: flex;
	align-items: center;
	background: rgba(0, 0, 0, 0.2);
}


.channel--rendition-progress--time {
	flex: 0 0 $button-size;
	box-sizing: border-box;
	padding: $padding;
}

.channel--rendition-progress--bar-outer {
	flex: 1;
	height: $padding;
	background: rgba(255, 255, 255, 0.1);
}
.channel--rendition-progress--bar-inner {
	background: #f00;
	height: 100%;
}

.channel--rendition-progress--played-time {
	text-align: right;
}


