.input {
  display: flex;
  flex: 1;
  flex-direction: row;
}


.input--input {
  flex: 1;
  font-size: 2rem;
  padding: 0 $padding;
  outline: none;
  border: none;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
}


.input--submit {
  flex: 0 0 $button-size;
  cursor: pointer !important;
  &::before {
    @mixin fa;
    content: "\f00c";
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
    text-align: center;
  }
}


.input--submit__valid {
  background-color: green;
  &:hover {
    background-color: #00c853 !important;
    color: #fff !important;
  }
}


.input--cancel {
  flex: 0 0 $button-size;
  cursor: pointer !important;
  &::before {
    @mixin fa;
    color: #fff !important;
    content: "\f00d";
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
    text-align: center;
  }
  &:hover {
    color: #d50000 !important;
  }
}

