.library {
  /* padding-bottom: 50vh; */
  width: 100vw;
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  /* perspective: 1000; */
  /* transform: translate3d(0, 0, 0); */
	display: flex;
	flex-direction: column;
}

.library--breadcrumb {
	flex: 0 0 $button-size;
  min-height: $button-size;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  font-weight: 500;
  flex-direction: column;
  /* transition: flex-basis 1s; */
}


.library--breadcrumb__search-active {
	flex: 0 0 calc($button-size * 2);
  /* transition: flex-basis 1s; */
}

.library--breadcrumb--dropdown {
  /* flex: 1; */
	max-width: 33vw;
}

.library--breadcrumb--control {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.library--breadcrumb--navigation {
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 $padding;
}

.library--breadcrumb--sections {
  flex: 4;
  display: flex;
  justify-content: center;
}

.library--breadcrumb--search-input {
  flex: 0 0 $button-size;
  /* padding: $padding; */
  box-sizing: border-box;
  position: relative;
}

.library--search-input {
  margin: 0;
  outline: none;
  display: block;
  padding: 0 $padding;
  height: calc($button-size - (2 * $padding));
  line-height: calc($button-size - (2 * $padding));
  font-size: 1.5rem;
  border: none;
  border-radius: 0;
  position: absolute;
  left: $padding;
  right: $padding;
  top: $padding;
  bottom: $padding;
}

.library--breadcrumb--dropdown > .library--breadcrumb--section,
.library--breadcrumb--dropdown > .library--breadcrumb--divider {
  display: none;
}
.library--breadcrumb--dropdown > .library--breadcrumb--section:last-child {
  display: block;
  color: #03A9F4;
}

.library--breadcrumb--dropdown > .library--breadcrumb--section:before {
    @mixin fa;
    content: "\f053"; /* fa-chevron-left */
    margin-right: 5px;
}

.library--breadcrumb--dropdown + .library--breadcrumb--sections:before {
    /* content: "›"; */
    margin: 0 $padding;
}
.library--breadcrumb--dropdown.library--breadcrumb--dropdown__empty + .library--breadcrumb--sections:before {
  display: none;
}
.library--breadcrumb--dropdown.library--breadcrumb--dropdown__empty {
  flex: 0 0 0;
}

.library--breadcrumb--section {
  cursor: pointer;
  &:hover {
    color: red;
  }
}


.library--breadcrumb--divider {
  &:before {
    /* content: "›"; */
    margin: 0 $padding;
  }
}

.library--breadcrumb-search-toggle {
  @mixin fa-btn "\f002"; /* fa-search */
  flex: 0 0 $button-size;
  background-color: rgba(0, 0, 0, 0.1);

}
.library--breadcrumb-search-toggle__active {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #03A9F4;
  color: #fff;
}

.library--node--icon {
  width: calc($button-size - 1px);
  height: calc($button-size - 1px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.library--node--metadata {
  color: #999;
  font-weight: 700;
  font-size: 0.9em;
  display: inline-block;
}

.library--node--metadata-group {
  display: inline-block;
}
.library--node--metadata-group + .library--node--metadata-group {
  margin-left: 0.2em;
  &:before {
    content: "|";
    margin-right: 0.2em;
  }
}

.library--node {
  position: relative;
  /* height: $button-size; */
  height: calc($button-size - 1px);
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  transition: background-color 200ms;
  max-width: 100vw;
  overflow: hidden;
}

.library--node--inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 $padding;
  cursor: pointer;
  max-width: calc(100vw - (2 * $padding));
  overflow: hidden;
  text-overflow: ellipsis;
}

.library--node__icon .library--node--inner {
  left: $button-size;
  max-width: calc(100vw - $button-size - (2 * $padding));
}

.library--node__active {
  background-color: rgba(255, 0, 0, 0.2);
}

.library--click-action:hover {
  color: red;
}

.library--no-action:hover {
  color: inherit !important;
}

.library--levels {
	flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  transform: translateZ(0);
}

.library--folder {
  flex: 0 0 100vw;
	overflow: hidden;
	position: relative;
	/* padding-top: 60px; */
}

.library--folder__loading {
  text-align: center;
}

.library--spinner {
  padding-top: $button-size;
}

.library--spinner i {
  margin-right: calc($padding / 2);
}

.library--contents {
	padding-bottom: 50%;
	overflow: hidden;
}

.library--scroll-thumb {
	position: absolute;
	right: 3px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	width: 2.5px;
}
.library--scroll-thumb__inactive {
	opacity: 0;
	transition: opacity 500ms;
}
.library--scroll-thumb__active {
	opacity: 1;
	transition: opacity 500ms;
}

/* TEMP */

.library--section--s {
	height: calc($button-size / 2);
	line-height: calc($button-size / 2);
	font-weight: 400;
	padding: 0 $padding;
	background: rgba(0, 0, 0, 0.05);
}

$library-huge-size: calc($button-size * 5);

.library--section--h {
	height: $library-huge-size;
}
.library--section--h--icon {
	height: $library-huge-size;
	background-size: cover;
	background-position: 50% 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/* .library--section--h--text:before { */
/* 	filter: blur(5px); */
/* 	content: " "; */
/* 	display: block; */
/* 	position: absolute; */
/* 	top: 0; */
/* 	right: 0; */
/* 	bottom: 0; */
/* 	left: 0; */
/* } */
.library--section--h--text {
	background: rgba(255, 255, 255, 0.8);
	position: relative;
	display: flex;
	flex-direction: row;
}

.library--section--h--title {
	font-size: 2rem;
	padding: calc($padding * 1) 0;
}

.library--section--h--metadata {
	padding: calc($padding * 2) $padding;
	flex: 1;
}
.library--section--h--metadata .library--node--metadata {
	color: #666;
}

.library--section--h--play {
  @mixin fa-btn "\f067"; /* fa-play */
	flex: 0 0 $button-size;
	background: rgba(0, 0, 0, 0.1);
	position: relative;
	line-height: normal;
}
.library--section--h--play:before {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: normal;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

$library-large-size: calc($button-size * 2);

.library--section--l {
	height: calc($library-large-size - 1px);
}
.library--section--l--icon {
	height: calc($library-large-size - 1px);
	width: calc($library-large-size - 1px);
}
.library--section--l--inner {
	left: $library-large-size;
}
.library--section--l--inner--title {
	font-size: 1.8rem;
	line-height: 140%;
	padding: $padding 0;
	max-width: calc(100vw - $library-large-size - (4 * $padding));
}

.library--contents.library--scrolling .library--node.library--node__icon .library--node--icon {
	background-image: url(/images/pending.svg) !important;
	background-size: calc($button-size - 1px - (2 * $padding));
	opacity: 0.5;
}
