.playlist {
  padding-bottom: 50vh;
}

.playlist__empty {
  text-align: center;
  padding-top: calc(3 * $padding);
  color: #bbb;
}

.playlist--entry {
  height: $button-size;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  position: relative;
}
.playlist--entry__head {
  border-bottom: none;
}

.playlist--entry--image {
  width: $button-size;
  height: $button-size;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.playlist--entry--inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: calc($button-size - $padding);
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 $padding;
  flex: 1;
  &:hover {
    color: red;
  }
}
.playlist--entry--album {
  color: #999;
}
.playlist--entry--duration {
  color: #999;
  font-size: 0.9em;
  font-weight: 500;
}
.playlist--entry--skip {
  @mixin fa-btn "\f050";  /* play */
  /* background-color: rgba(0, 0, 0, 0.01); */
  border-left: solid 1px #eee;
  flex: 0 0 $button-size;
  &:before {
    color: #ddd;
  }
}


$menu-width: calc(2 * $button-size);

.playlist--entry--menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  z-index: 0;
  justify-content: flex-end;
}

.playlist--entry .playlist--entry--menu {
  display: none;
}

.playlist--entry__menu .playlist--entry--menu,
.playlist--entry__swiping .playlist--entry--menu {
  display: flex;
}

.playlist--entry--contents {
  height: $button-size;
  position: relative;
  display: flex;
  z-index: 1;
  background-color: #fff;
}


.playlist--entry__menu .playlist--entry--contents {
  left: -$menu-width;
}

.playlist--entry--menu__clear {
  @mixin fa-btn "\f1f8";
  color: #ccc;
  width: $button-size;
  height: $button-size;
  background: rgba(255, 255, 255, 0.1);
  &:hover {
    color: red;
    background: rgba(255, 0, 0, 0.4);
  }
}

.playlist--entry__removing {
  opacity: 0.2;
}
