$progress-height: 4px;

.progress {
  height: $progress-height;
  background: rgba(0, 0, 0, 0.5);
}
.progress--complete {
  height: $progress-height;
  background: red;
  /* transition: width 0.43s; */
}


.progress-circular  {
  position: relative;
  display: block;
}

svg.progress-circular--root {
  /* transform: rotate(270deg); */
}
svg.progress-circular--root circle {
  /* stroke-width: 8px; */
  /* transform-origin: 50% 50% 0; */
  /* transform: rotate(0.1deg); */
}
.progress-circular--cover {
  /* stroke: rgba(255, 255, 255,1.1); */
}
.progress-circular--progress {
  /* stroke: red; */
  /* stroke-width: 4px; */
}
