
.root {
  /* padding-top: $button-size; */
}
.root__obscured {
  max-height: 100vh;
  overflow: hidden;
}

.root--wrapper {

}
.root--active-channel {
  @mixin overflowScroll;
  background: #fff;
  height: 100vh;
  width: 100vw;
  left: 0;
  position: relative;
  transition: left $channels-view-animation-duration;
}

.root--active-channel__inactive {
  left: $channels-view-width;
  transition: left $channels-view-animation-duration;
  pointer-events: none;
}

.root--mode {
  display: flex;
  flex-wrap: wrap;
  height: $button-size;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.5);
  max-width: 100vw;
}

.root--mode--choice {
  flex: 1;
  max-width: 50%;
  display: flex;
  padding: 0 $padding;
  line-height: $button-size;
  font-weight: 200;
  cursor: pointer;
  align-items: baseline;
  &:hover {
    background-color: red;
    color: #fff;
  }
  &:before {
    @mixin fa;
    content: $channel-icon;
    padding-right: calc($padding/2);
    line-height: $button-size;
  }
}
.root--mode--choice__active {
  /* background: rgba(0, 0, 0, 0.2); */
  /* color: #fff; */
  font-weight: 400;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.9) !important;
  &:hover {
    /* background: rgba(0, 0, 0, 0.2); */
  }
}
.root--mode--choice + .root--mode--choice {
  /* border-left: solid 1px rgba(0, 0, 0, 0.2); */
}
.root--mode--library {
  &:before {
    content: "\f001";
  }
}
.root--mode--playlist {
  &:before {
    /* content: $channel-icon; */
    content: "\f0ca"; /* fa-list-ul */
  }
}
.root--mode--playlist-label {
  text-transform: uppercase;
  font-size: 0.8em;
  padding-right: calc($padding / 2);
  font-weight: 100;
}
.root--mode--channel-name {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.root--mode--channel-duration {
  padding-left: calc($padding/2);
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  display: block;
}

.root--bar {
  color: #fff;
  background: #000;
  display: flex;
  height: $top-bar-height;
  /* flex: 0 0 $button-size; */
}

.root--channel-select {
  flex: 0 0 $button-size;
  text-align: center;
  /* line-height: $button-size; */
  line-height: $top-bar-height;
  cursor: pointer;
  background: #BF360C;
}

.root--loading {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  color: #555;
  font-weight: 100;
  font-size: 2rem;
}

.root--loading__message {
	flex: 1;
  position: relative;
	text-align: center;
}
.root--loading__message svg {
	display: block;
	width: 70%;
	margin: 0 auto;
	margin-bottom: calc($button-size / 2);
	opacity: 0.3;
}

.root--channel-state {
  /* display: flex; */
  flex: 1;
  /* flex-direction: column; */
}

.root--channel-rendition {
  height: $button-size;
}

.root--notifications {
	position: fixed;
  top: calc($active-channel-bar-height + $button-size + $padding);
	width: 76vw;
	margin: 0 12vw 0 12vw;
	z-index: 10000;
}


/* ******* */
$active-channel-peek-width: 85px;

#root {
	/* display: flex; */
	height: 100vh;
	max-height: 100vh;
	/* flex-direction: row; */
  position: relative;
}

#root > .root--channel-list {
	/* transition: flex-basis 1s; */
	flex: 0 0 0;
}
#root.root--channel-select__inactive > .root--channel-list {
}
#root.root--channel-select__active > .root--channel-list {
	/* flex: 0 0 calc(100vw - $active-channel-peek-width); */
	flex: 0 0 0;
}

.root--channel-list-toggle {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
	position: absolute;
	top: $button-size;
	right: 0;
	bottom: 0;
  left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10000;
  transition: opacity 250ms;
}

#root.root--channel-select__active .root--channel-list-toggle {
  opacity: 1;
  pointer-events: visible;
}

.root--channel {
  position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	flex-direction: column;
  top: 0;
  left: 0;
}

#root.root--channel-select__active > .root--channel {
  box-shadow: -0px 0 10px rgba(0, 0, 0, 0.3);
}

.root--active-view {
	flex: 1;
	max-width: 100vw;
	overflow: hidden;
	display: flex;
  background: #fff;
	/* overflow: auto; */
	/* overflow-x: hidden; */
	/* overflow-y: auto; */
	/* -webkit-overflow-scrolling: touch; */
}

.root--switch-view {
	background: rgba(66, 66, 66, 1);
	flex: 0 0 $button-size;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}


.root--switch-view--btn {
	flex: 1;
	text-align: center;
	margin: 0;
	background: rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
  cursor: pointer;

}
.root--switch-view--btn:hover {
	/* background: rgba(255, 255, 255, 0.7); */
}

.root--switch-view--btn__active {
	background: rgba(255, 0, 0, 0.8) !important;
}

.root--switch-view--btn .channel--playlist-duration {
  display: block;
  font-size: 0.85em;
  margin-left: 0;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

/* channel control */
.root--active-rendition {
	border-bottom: solid 1px #222;
  color: #fff;
	background: #111111;
	height: $button-size;
	flex: 0 0 $button-size;
	display: flex;
	flex-direction: row;
}


.root--channel-control-bar {
	/* position: relative; */
	height: $button-size;
}
.root--channel-control-bar__inactive {
	/* position: relative; */
}
.root--channel-control-position {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.root--channel-control-bar__inactive .root--channel-control-position {
	/* top: 0; */
  height: $button-size;
}
.root--channel-control-bar__active .root--channel-control-position {
  height: 100vh;
  /* top: 0; */
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	/* width: 100vw; */
	/* height: 100vh; */
}

.root--channel-control {
	display: flex;
	height: 0;
	opacity: 0;
	background: rgba(0, 0, 0, 1);
	transition: opacity 300ms;
  top: 0;
	bottom: $button-size;
	right: 0;
	left: 0;
	z-index: 1000000;
  transform: translateZ(0);
	color: #fff;
	margin-bottom: 500px;
}

.root--channel-control__active {
	flex-direction: column;
	height: calc(100vh - (1 * $button-size));
	transition: opacity 300ms;
	opacity: 1;
}

.root--receiver-control  {
	/* margin-top: calc($button-size / 2); */
}

.root--switch-view--btn__SelectChannel {
	flex: 0 0 $active-channel-peek-width;
}

.root--channel-control__active .root--active-rendition {
	flex: 0;
}
