$volume-height: $button-size;

.volume--control {
  position: relative;
}

.volume--range {
  display: flex;
}
.volume--slider {
  position: relative;
  height: $volume-height;
  flex: 1;
}

.volume--state {
  @mixin fa-btn "";
  flex: 0 0 calc($volume-height / 1);
}

.volume--state__mute:before {
  content: "\f026";
}
.volume--state__full:before {
  content: "\f028";
}

.volume--control input[type="range"] {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 1);
  background-position: center;
  background-repeat: no-repeat;
  height: 2px;
  display: block;
  width: 100%;
  margin: 0;
  margin-bottom: $button-size;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@define-mixin volume-track {
}

@define-mixin volume-thumb {
  width:  calc($volume-height / 2);
  height: calc($volume-height / 2);
  box-sizing: border-box;
  background-color: rgba(128, 0, 0, 1);
  border-radius: calc($volume-height / 2);
  border: none;
  outline: none;
  position: relative;
  z-index: 3;
  &:active {
    background-color: rgba(255, 0, 0, 1);
  }
}

.volume--control input[type="range"]::-ms-track {
  @mixin volume-track;
}
.volume--control input[type="range"]::-moz-range-track {
  @mixin volume-track;
}
.volume--control input[type="range"]::-webkit-slider-runnable-track {
  @mixin volume-track;
}

.volume--control input[type="range"]::-ms-thumb {
  @mixin volume-thumb;
}
.volume--control input[type="range"]::-moz-range-thumb {
  @mixin volume-thumb;
}
.volume--control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @mixin volume-thumb;
}
