.channel--playlist {
  background: #fff;
  overflow: hidden;
  width: 100vw;
}
.channel--rendition {
  flex: 1;
}
.channel--name {
  padding: 0 $padding;
  &:before {
    @mixin fa;
    content: $channel-icon;
    padding-right: calc($padding/2);
  }
}

.channel--playlist-actions {
  display: flex;
  height: $button-size;
  background-color: #eee;
  justify-content: flex-start;
  align-items: flex-start;
}
.channel--playlist-actions--space {
  flex: 1;
}
.channel--playlist-actions--clear {
  @mixin fa-btn "\f1f8";
  flex: 0 0 $button-size;
  width: $button-size;
  height: $button-size;
  background: rgba(0, 0, 0, 0.1);
  &:hover {
    color: red;
    background: rgba(255, 0, 0, 0.4);
  }
}

.channel--playback {
  display: flex;
  flex-direction: row;
	flex: 1;
}

.channel--info {
  flex: 1;
}

.channel--info--name {
  height: $active-channel-bar-height;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: $active-channel-bar-height;
  color: #E65100;
  position: relative;
}
.channel--info--name .channel--name {
  position: absolute;
  bottom: -1px;
  line-height: 0;
}
