.channels {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  display: flex;
  flex-direction: column;
  line-height: $button-size;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

.channels__select-channel {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.95);
}

.channels--bar {
  display: flex;
  flex: 0 0 $button-size;
}

.channels--channel-select {
  flex: 0 0 $button-size;
  text-align: center;
  line-height: $button-size;
  cursor: pointer;
  &:hover {
    color: red;
  }
}
.channels--channel-volume {
  flex: 1;
}

.channels-selector {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.channels-selector--list {
  flex: 1;
	height: 0;
	overflow-y: auto;
}

$channel-select-border: rgba(255, 255, 255, 0.05);

.channels-selector--channel {
  &::before {
    @mixin fa;
    content: "\f140";
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border-right: solid 1px rgba(0, 0, 0, 0.05);
  }
  position: relative;
  padding-left: calc($button-size + $padding);
  color: #fff;
  height: $button-size;
  line-height: $button-size;
  cursor: pointer;
  &:hover {
    color: red;
  }
  & + & {
    border-top: solid 1px $channel-select-border;
  }
  &:last-child {
    border-bottom: solid 1px $channel-select-border;
  }
}

.channels-selector--channel__active {
	color: rgba(255, 255, 255, 0.3);
	font-weight: 600;
	&:hover {
		color: rgba(255, 255, 255, 0.5);
	}
}


.channel-selector--add {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 $button-size;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  &::before {
    @mixin fa;
    content: "\f067";
    flex: 0 0 $button-size;
    /* width: $button-size; */
    height: $button-size;
    line-height: $button-size;
    display: block;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    text-align: center;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    margin-right: $padding;
  }
}
@media (--desktop) {
  .channels {
    width: $channel-column-width;
  }
}


@media (--mobile) {
  .channels {
    right: 0;
  }
}
