.library {
  padding-bottom: 50vh;
}
.library--breadcrumb {
  min-height: $button-size;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 0 $padding;
  align-items: center;
}


.library--breadcrumb--section {
  cursor: pointer;
  &:hover {
    color: red;
  }
}


.library--breadcrumb--divider {
  &:before {
    content: "›";
    margin: 0 $padding;
  }
}

.library--node--icon {
  width: $button-size;
  height: $button-size;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.library--node--metadata {
  color: #999;
  font-weight: 700;
  font-size: 0.85em;
  display: inline-block;
}

.library--node--metadata-group {
  display: inline-block;
}
.library--node--metadata-group + .library--node--metadata-group {
  margin-left: 0.2em;
  &:before {
    content: "|";
    margin-right: 0.2em;
  }
}

.library--node {
  position: relative;
  height: $button-size;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  transition: background-color 200ms;
}

.library--node--inner {
  position: relative;
  left: $button-size;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 $padding;
  cursor: pointer;
}

.library--node__active {
  background-color: rgba(255, 0, 0, 0.2);
}

.library--click-action:hover {
  color: red;
}

.library--no-action:hover {
  color: inherit !important;
}

@media (--mobile) {

}
