.playlist {
  padding-bottom: 50vh;
}

.playlist__empty {
  text-align: center;
  padding-top: calc(3 * $padding);
  color: #bbb;
}

.playlist--entry {
  height: $button-size;
  border-bottom: solid 1px #ddd;
  cursor: pointer;
  display: flex;
}
.playlist--entry--image {
  width: $button-size;
  height: $button-size;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}
.playlist--entry--inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-height: calc($button-size - $padding);
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 $padding;
  flex: 1;
  &:hover {
    color: red;
  }
}
.playlist--entry--album {
  color: #999;
}
.playlist--entry--skip {
  @mixin fa-btn "\f050";  /* play */
  /* background-color: rgba(0, 0, 0, 0.01); */
  border-left: solid 1px #eee;
  flex: 0 0 $button-size;
  &:before {
    color: #ddd;
  }
}
