.receiver {
  display: flex;
  align-items: stretch;
  height: $button-size;
  flex-direction: row;
}

.receiver__offline {
  opacity: 0.5;
}

.receiver--name {
  padding: 0 $padding;
  line-height: $button-size;
  flex: 1;
}

.receiver--volume {
  flex: 1;
}

.receiver__attached {
}

.receiver--action__attach {
  flex: 0 0 $button-size;
  background-color: #444;
  &:before {
    content: "+";
  }
}

