.receiver {
  display: flex;
  align-items: stretch;
  height: $button-size;
  flex-direction: row;
}

.receiver__offline {
  opacity: 0.5;
}

.receiver--name {
  padding: 0 $padding;
  line-height: $button-size;
  flex: 1;
}

.receiver--volume {
  flex: 1;
}

.receiver__attached {
}

.receiver__detached {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #00c853;
  }
}
.receiver--state__detached {
  @mixin fa-btn "\f067";
  flex: 0 0 $button-size;
  background-color: rgba(0, 0, 0, 0.333);
}

