.rendition {
  /* flex: 0; */
  background-color: rgba(255, 0, 0, 0.5);;
  position: relative;
}

.rendition--cover {
	flex: 0 0 100vw;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
  }
}
.rendition--song {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: $padding;
  display: flex;
  flex-direction: row;
}
.rendition--meta,
.rendition--title {
  /* margin-left: $channel-player-height; */
}

.rendition--details {
  flex: 1;
}
.rendition--title {
  @mixin h1;
  color: #fff;
  position: relative;
  /* padding: $padding 0; */
  &:before {
    @mixin fa;
    content: "\f04b"; /* fa-play */
    width: calc($button-size / 2);
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}
.rendition--title__playing {
  &:before {
    @mixin fa;
    content: "\f04c"; /* fa-pause */
  }
}

.rendition--meta {
  /* @mixin block-group; */
  /* margin-left: $channel-player-height; */
  /* padding: 0 $padding; */
	font-size: 1.6rem;
	font-weight: 400;
}

.rendition--meta--artist,
.rendition--meta--duration,
.rendition--meta--album {
  /* @mixin block; */
	display: inline-block;
}

.rendition--meta--artist,
.rendition--meta--duration,
.rendition--meta--album {
  font-size: 1.4rem;
}
.rendition--meta--duration {
  margin-left: $padding;
}
.rendition--meta--album:before {
  content: "›";
  margin: 0 $padding;
}

.rendition--duration {
  padding: 0 $padding;
  @mixin h1;
  font-size: 1.8rem;
  line-height: 1.9;
}

