
.root {
  /* padding-top: $button-size; */
}
.root__obscured {
  max-height: 100vh;
  overflow: hidden;
}

.root--wrapper {

}
.root--active-channel {
  @mixin overflowScroll;
  background: #fff;
  height: 100vh;
  width: 100vw;
  left: 0;
  position: relative;
  transition: left $channels-view-animation-duration;
}

.root--active-channel__inactive {
  left: $channels-view-width;
  transition: left $channels-view-animation-duration;
  pointer-events: none;
}

.root--mode {
  display: flex;
  flex-wrap: wrap;
  height: $button-size;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.5);
  max-width: 100vw;
}

.root--mode--choice {
  flex: 1;
  max-width: 50%;
  display: flex;
  padding: 0 $padding;
  line-height: $button-size;
  font-weight: 200;
  cursor: pointer;
  align-items: baseline;
  &:hover {
    background-color: red;
    color: #fff;
  }
  &:before {
    @mixin fa;
    content: $channel-icon;
    padding-right: calc($padding/2);
    line-height: $button-size;
  }
}
.root--mode--choice__active {
  /* background: rgba(0, 0, 0, 0.2); */
  /* color: #fff; */
  font-weight: 400;
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.9) !important;
  &:hover {
    /* background: rgba(0, 0, 0, 0.2); */
  }
}
.root--mode--choice + .root--mode--choice {
  /* border-left: solid 1px rgba(0, 0, 0, 0.2); */
}
.root--mode--library {
  &:before {
    content: "\f001";
  }
}
.root--mode--playlist {
  &:before {
    content: $channel-icon;
  }
}
.root--mode--playlist-label {
  text-transform: uppercase;
  font-size: 0.8em;
  padding-right: calc($padding / 2);
  font-weight: 100;
}
.root--mode--channel-name {
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.root--mode--channel-duration {
  padding-left: calc($padding/2);
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.6);
  display: block;
}

.root--bar {
  color: #fff;
  background: #000;
  display: flex;
  height: $button-size;
  /* flex: 0 0 $button-size; */
}

.root--channel-select {
  flex: 0 0 $button-size;
  text-align: center;
  line-height: $button-size;
  cursor: pointer;
}
