
@import "variables.css";
@import "mixins/headers.css";
@import "mixins/pocketgrid.css";
@import "mixins/fa.css";
@import "modules/font-awesome.css";
@import "modules/pocketgrid.css";
@import "modules/layout.css";
@import "modules/breakpoints.css";
/* @import "modules/headers.css"; */
@import "modules/player.css";
@import "modules/channel.css";
@import "modules/modes.css";
@import "modules/nodes.css";
@import "modules/input.css";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,200,700,600italic,400italic,300italic,200italic);

html {
  font-size: 10px;
  height: 100vh;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  /* font-size: 10px; */
  line-height: 125%;
}

@media (--desktop) {
  body {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}


/* legacy styles */
.volume-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.volume-control input[type="range"] {
  display: flex;
  flex: 1;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: 1px;
}

.volume-control i.volume {
  /* display: flex; */
  flex: 0;
  /* justify-content: center; */
}

.receiver {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.receiver--offline {
  opacity: 0.5;
}
.playlist-entry--album {
  color: #999;
}

.playlist-entry-progress--inner {
  /* override semantic ui's strange default */
  min-width: 0 !important;
  transition: none;
  -webkit-transition: none !important;
}

