
@import "modules/layout.css";
@import "modules/breakpoints.css";

body {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
  margin: 0;
  padding: 0;
}


/* legacy styles */
.volume-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.volume-control input[type="range"] {
  display: flex;
  flex: 1;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: 1px;
}

.volume-control i.volume {
  /* display: flex; */
  flex: 0;
  /* justify-content: center; */
}

.receiver + .receiver {
  margin-top: 1.0em;
}
.receiver--offline {
  color: #ddd;
}
.receiver--offline input[type="range"] {
  opacity: 0.5;
}
.playlist-entry--album {
  color: #999;
}

.playlist-entry-progress--inner {
  /* override semantic ui's strange default */
  min-width: 0 !important;
  transition: none;
  -webkit-transition: none !important;
}

