
.channel-receivers {
  background-color: #ccc;
}

.channel-receivers--head {
  height: $button-size;
  .divider {
    width: calc(100% - $button-size);
    height: $button-size;
    line-height: $button-size;
  }
}
.channel-receivers--add {
  width: $button-size;
  text-align: center;
  height: $button-size;
  line-height: $button-size;
  background-color: rgba(0, 0, 0, 0.5);
}
.channel-receivers--add-receiver {
  cursor: pointer;
  height: $button-size;
  line-height: $button-size;
  background-color: #4caf50;
  color: #fff;
  position: relative;
  padding-left: calc($button-size + $padding);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &::before {
    @mixin fa;
    content: "\f067";
    width: $button-size;
    height: $button-size;
    line-height: $button-size;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
  }
}
.channel-receivers--available-receivers {
}
.channel-receivers--available-receiver {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.channel-receivers--add-receiver {
  flex: 1;
}
.channel-receivers--edit-receiver {
  flex: 0 0 $button-size;
  line-height: $button-size;
  text-align: center;
  background-color: #2e7d32;
  color: #fff;
}
