@import "breakpoints.css";
@import "../variables.css";

.elvis {
  display: flex;
}

@media (--desktop) {
  .elvis {
    flex-direction: row;
  }
  .channels {
    width: $channel-column-width;
    overflow: auto;
    border-right: solid 1px red;
  }
}

@media (--mobile) {
  .elvis {
    flex-direction: column;
  }
}

.divider {
  height: 17px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 0 $padding;
  font-weight: 800;
  font-size: 1.0rem;
}
