@import "breakpoints.css";
@import "../variables.css";

.elvis {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.cannon {
  width: $width;
}

.channels {
  display: flex;
  flex: 0 0 $channel-column-width;
  background-color: rgba(0, 0, 0, 0.5);;
}

.channel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.channel-player {
  flex: 0 0 $channel-player-height;
  background-color: rgba(255, 0, 0, 0.5);;
}
.channel-playlist {
  flex: 1;
  /* background-color: rgba(0, 0, 0, 0.5);; */
}

@media (--mobile) {
  .elvis {
    flex-direction: column;
  }
  .channels {
    flex: 0 0 $channel-player-height;
  }
  .channel-player {
    flex: 1;
  }
}

.divider {
  height: 17px;
  line-height: 17px;
  text-transform: lowercase;
  padding: 0 $padding;
  font-weight: 800;
  font-size: 1.0rem;
}
