@import "breakpoints.css";
@import "../variables.css";


.elvis {
  display: flex;
  flex: 1;
  flex-direction: row;
  outline: solid 1px orange;
}

.channels {
  display: flex;
  flex: 0 0 var(--channel-column-width);
  background-color: rgba(0, 0, 0, 0.5);;
}

.channel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.channel-player {
  flex: 0 0 100px;
  background-color: rgba(255, 0, 0, 0.5);;
}
.channel-playlist {
  flex: 1;
  background-color: rgba(0, 255, 0, 0.5);;
}
@media (--mobile) {
  .elvis {
    flex-direction: column;
  }
  .channels {
    flex: 0 0 100px;
  }
  .channel-player {
    flex: 1;
  }
  .channel-playlist {
    display: none;
  }
}

