.mode-selector {
  height: 40px;
  line-height: 40px;
}
.mode-channel {
  width: calc(100% - 40px);
}
.mode-library {
  width: 40px;
  text-align: center;
  line-height: 40px;
}
@media (--desktop) {
  .mode-channel {
    width: 100%;
  }
  .mode-library {
    display: none;
  }
}
