.mode-wrapper {
	padding-top: $mode-selector-height;
}
.mode-selector {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	height: $mode-selector-height;
  line-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.mode-channel {
  width: calc(100% - 80px);
}
.mode-channel-select,
.mode-library {
  width: 40px;
  text-align: center;
  line-height: 40px;
}
@media (--desktop) {
  .mode-selector {
    width: $channel-column-width;
  }
  .mode-channel {
  width: calc(100% - 40px);
  }
  .mode-library {
    display: none;
  }
}
@media (--mobile) {
  .mode-selector {
    right: 0;
  }
}
