.mode-wrapper {
	padding-top: $mode-selector-height;
}
.mode-selector {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	height: $mode-selector-height;
  line-height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.mode-channel {
  width: calc(100% - 80px);
}
.mode-channel-select,
.mode-switch {
  width: 40px;
  text-align: center;
  line-height: 40px;
}

.mode-channel .volume-label:before {
  @mixin fa;
  content: "\f140";
  padding-right: calc($padding/2);
}

.channel-selector {
  background: #333;
  /* position: fixed; */
  /* top: 40px; */
}
.channel-selector--channel {
  /* &::before { */
  /*   @mixin fa; */
  /*   content: "\f140"; */
  /*   padding-right: calc($padding/2); */
  /* } */
  &::before {
    @mixin fa;
    content: "\f140";
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
  }
  position: relative;
  padding-left: calc(40px + $padding);
  color: #fff;
  height: 40px;
  line-height: 40px;
  /* padding: 0 $padding; */
  cursor: pointer;
  &:hover {
    color: red;
  }
  & + & {
    border-top: solid 1px #444;
  }
}

@media (--desktop) {
  .mode-selector {
    width: $channel-column-width;
  }
  .mode-channel {
    width: calc(100% - 40px);
  }
  .mode-library {
    display: none;
  }
  .mode-switch {
    display: none;
  }
}


@media (--mobile) {
  .mode-selector {
    right: 0;
  }
}
