@import "../variables.css";

.player {
  /* flex: 0; */
  background-color: rgba(255, 0, 0, 0.5);;
  position: relative;
}

.player-icon {
	flex: 0 0 100vw;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
  }
}
.player-song {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: $padding;
}
.player-meta,
.player-title {
  /* margin-left: $channel-player-height; */
}

.player-title {
  @mixin h1;
  color: #fff;
  position: relative;
  /* padding: $padding 0; */
}

.player-meta {
  /* @mixin block-group; */
  /* margin-left: $channel-player-height; */
  /* padding: 0 $padding; */
	font-size: 1.6rem;
	font-weight: 400;
}

.player-artist,
.player-album,
.player-duration {
  /* @mixin block; */
	display: inline-block;
}

.player-artist,
.player-album {
  font-size: 1.4rem;
}
.player-album:before {
  content: "›";
  margin: 0 $padding;
}

.player-duration {
  position: absolute;
  bottom: 0;
  right: $padding;
  width: 8rem;
  text-align: right;
	font-size: 0.5em;
}

$progress-height: 4px;
.progress {
  height: $progress-height;
  background: rgba(0, 0, 0, 0.5);
}
.progress-complete {
  height: $progress-height;
  background: red;
  transition: width 0.2s;
}

.volume-controls{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
	cursor: pointer;
}
.volume-control {
  /* display: flex; */
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
}

$volume-height: 40px;

.volume-mute-btn,
.volume-full-btn {
  height: $volume-height;
  width: $volume-height;
  min-width: $volume-height;
  text-align: center;
  line-height: 40px;
}


.volume {
  height: $volume-height;
  line-height: $volume-height;
  position: relative;
  padding: 0 $padding;
}
.volume-level {
  height: $volume-height;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  /* disable mouse events */
}

.volume-label {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: relative;
  z-index: 10;
  height: $volume-height;
	cursor: pointer;
  /* disable mouse events */
}

@media (--mobile) {
  .player-title {
  }
  .player {
		flex: 0 0 100vw;
    /* flex: 0; */
  }
	.player-icon {
		width: 100vw;
	}
  .player-artist,
  .player-album {
    /* width: 100%; */
  }
}
